/* Remtasi: https://themehoster.com/tf/html/tm/emexso/demo/index.html# */

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Josefin+Sans:wght@400;500;600;700&display=swap');

$orange: #fc6c55;
$blue: #0c2461;
$font1: Josefin Sans;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Josefin Sans;
  color: #0c2461;
  
  
  
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  height: 50px;
  margin: auto;

  i{
    color: #fc6c55;
  }

  .calls{
    display: flex;
    gap: 10px;
    
  }
  .social{
    display: flex;
    gap: 10px;

    a{
      border: 1px solid $orange;
      border-radius: 4px;
      padding: 10px;
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      
      &:hover{
        background: $orange;
      }
      
      &:hover i{
        color: white;
      }
    }
  }
}


