/* Remtasi: https://themehoster.com/tf/html/tm/emexso/demo/index.html# */

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Josefin+Sans:wght@400;500;600;700&display=swap');
@import 'variables';
@import 'mixins';
@import 'hero';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Josefin Sans;
  color: #0c2461;
  
  
  
}
header{
  @include flex-between;
  border-bottom: 1px solid rgb(135, 207, 235, 0.372);
  
  i{
    color: #fc6c55;
  }

  .calls{
    display: flex;
    gap: 10px;
    
  }
  .social{
    display: flex;
    gap: 10px;

    a{
      border: 1px solid $orange;
      border-radius: 4px;
      padding: 10px;
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      
      &:hover{
        background: $orange;
      }
      
      &:hover i{
        color: white;
      }
    } 
  }
}

nav{
  @include flex-between;
  
  

  .logo img{
    width: 150px;
  }
  .links{

  
  a{
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  }
}

button{
  padding: 10px 15px;
  background: $orange;
  border: 2px solid #fc6c55;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: 0.3s;

  &:hover{
    background: white;
    color: $orange;
  }
}



@media (max-width: 768px) {
  header{
    height: auto;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 15px;
  
    .calls{
    flex-direction: column;
  }
  }
}

@media (max-width: 768px) {
  
  nav{
    justify-content: center;
    gap: 20px;
   
    .links{
      display: none;
    }
  }
}